* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Times, serif;
	font-size: 16px;
}
nav {
	background-color: gray;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}
footer {
	background-color: gray;
	text-align: center;
	padding: 1em;
	margin: 1em 0;
}
h1 {
	font-size: 3em;
	font-weight: normal;
	margin-top: .5em;
	margin-left: .5em;
}

h2 {
	font-size: 1em;
	font-weight: normal;
}

h3 {
	font-size: 1em;
	font-weight: normal;
}

a {
	font-size: 1.5em;
	color: black;
}
img {
	width:100%;
}
.wrapper {
	max-width:75em;
	margin:auto;
}

.photos {
	padding: 2em;
	background-color: white;
	border: 1em;
	display: block;
	float: left;
	width: 33.33%;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
