h1 { 
	font-family: 'Arial', sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: rgb(153,29,255);
}
#slogan {
	font-style: italic;
}

p {
	font-family: 'Arial', sans-serif;
}

ul {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
}

li{
	font-family: 'Arial', sans-serif;
}
